<%% title "Forgot Password" %>

<p>
  Please enter the email address you used to register.
</p>

<%%= form_for @<%= session_singular_name %>, :as => :<%= session_singular_name %>, :url => forgot_password_url do |f| %>
  <%%= f.label :email %><br />
  <%%= f.text_field :email %><br />
  <br />
  <%%= f.submit "Send Password Reset Link" %>
<%% end %>

Back to <%%= link_to '<%= login_name %>', <%= login_name %>_url %>
