<%% title "Reset your password" %>

<%%= form_for @<%= user_singular_name %>, :url => reset_password_url do |f| %>
<p>
<%%= f.label :password %><br />
<%%= f.password_field :password %>
</p>
<p>
<%%= f.label :password_confirmation %><br />
<%%= f.password_field :password_confirmation %>
</p>
<%%= f.submit "Reset Password and <%= login_name_title %>" %>
<%% end %>

